@def guardian #acded8;
@def dream-catcher #ad7067;
@def soul #e0e0d3;
@def underbelly #b6bfbb;
@def skeletal #807785;


body {
	background-color: soul;
}
#navigation {
	border-bottom: thin dotted underbelly;
	background: dream-catcher;
}
#navigation ul {
	margin: 0px;
}
#navigation li {
	display: inline;
	padding: 0px;
	margin: 0px;
}
#header {
	padding-top: 30px; 
	text-align: center;
	height: 40px;
	background: dream-catcher;
	border-bottom: thin groove dream-catcher;
	
}
#smaller-wrap {
	height: 720px;
	width: 806px;
	margin-left: auto;
	margin-right: auto;
	background: underbelly;
	border-left: thin groove underbelly;
	border-right: thin groove underbelly;
	border-bottom: thin groove underbelly;
}
#leftPane {
	padding: 10px 1px 10px 5px;
	float: left;
	width: 95px;
	height: 700px;
	border-right: thin groove soul;
}
#main-content {
	padding: 10px 20px 10px 20px;
	float: left;
	width: 560px;
	height: 700px;
}

#rightPane {
	padding: 10px 1px 10px 5px;
	width: 95px;
	height: 700px;
	float: right;
	border-left: thin groove soul;
}
#footer {
	text-align: center;
	border-top: thin dotted underbelly;
	
}
#search-box {
	display: inline;
}
#search-button {
	display: inline;
}