<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>dictionaryService</servlet-name>
    <servlet-class>org.dikso.server.DictionaryServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dictionaryService</servlet-name>
    <url-pattern>/dikso/dictionary</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Dikso.html</welcome-file>
  </welcome-file-list>

</web-app>
